html, h1 {
    text-shadow: 0.3cm;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 100;
    
    color: red;
    background-color: rgb(208, 203, 196);
    margin: 0px;
    padding: 0%; 
}

body {
    margin: 0px;
    padding: 0%;
}

#map{
    width: 100%;
    height: 100vh;
}

.leaflet-popup-content-wrapper {
    border-radius: 0%;
}

.leaflet-popup-close-button {
    color: red;
    margin: 3%;
    position: relative;
}